<div class="container">
  <div class="table-wrapper">
    <nav class="nav-bar">
      <div class="">
        <div class="">
          <select
            id="categorySelect"
            class="select"
            [(ngModel)]="selectedCategory"
            (change)="filterByCategory()"
          >
            <option selected value="0">Toutes les catégories</option>
            <option
              *ngFor="let category of categoryList"
              [value]="category.ID_Category"
            >
              {{ category.Category_Name }}
            </option>
          </select>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="flex">
  <div class="box">
    <div class="flex">
      <div
        *ngFor="
          let product of filteredProductList
            | paginate
              : {
                  id: 'listing_pagination',
                  itemsPerPage: 11,
                  currentPage: page,
                  totalItems: totalRecords
                }
        "
      >
        <div class="card" *ngIf="product.Product_Visibility">
          <p class="circle-border">{{ product.Product_Quantity }}</p>
          <div class="img">
            <img
              class="product_image"
              src="../../../assets/{{ product.Product_Image_URL }}"
            />
          </div>
          <div>
            <p class="center-text">{{ product.Product_Name }}</p>
          </div>
          <p
            *ngIf="product.Product_Quantity == 0"
            class="center-text text-danger"
          >
            Rupture de stock
          </p>
          <img
            *ngIf="product.Product_Quantity > 0"
            class="btn-cart"
            (click)="addBasket(product)"
            src="../../../assets/shopping_cart_PNG38.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div>
      <pagination-controls
        id="listing_pagination"
        [maxSize]="5"
        [directionLinks]="true"
        [previousLabel]="'Précédent'"
        [nextLabel]="'Suivant'"
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
  <div class="panier-box">
    <div class="form-group">
      <input
        id="searchInput"
        type="text"
        class="form-control"
        placeholder="Rechercher un produit..."
        [(ngModel)]="searchTerm"
        (input)="filterProducts()"
      />
    </div>
    <div class="panier">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th id="produit" scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of baskets">
            <th scope="row">{{ product[0].Product_Name }}</th>
            <td style="padding: 6px 0;"><button (click)="addBasket(product[0])"
              type="button"
                class="btnclose"
                aria-label="Close">
                +
              </button>{{ product[1] }}<button (click)="diminuerProduit(product[0])"
              type="button"
                class="btnclose"
                aria-label="Close">
                -
              </button></td>

            <td>{{ product[0].Product_Sale_Price_TVAC }}</td>
            <td>
              <button
                (click)="deleteBasket(product[0], product[1])"
                type="button"
                class="btnclose"
                aria-label="Close"
              >
                X
              </button>
            </td>
          </tr>
          <tr>
            <td scope="row" colspan="3">Total :</td>
            <td id="total">{{ totalPriceRounded }}€</td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
      <div class="client-containeur">
        <div class="form-group">
          <input
            id="searchInput"
            type="text"
            class="form-control"
            placeholder="Rechercher un client..."
            [(ngModel)]="searchTermClient"
            (input)="filterClient()"
          />
        </div>
        <button (click)="openAddClientModal()" class="btn-add-client">
          Ajouter client
        </button>
      </div>
      <table *ngIf="flag" class="table2" #tableElement>
        <tr
          class="liste-client"
          *ngFor="let client of filterClientList"
          style="border: none"
          (click)="selectClient(client)"
        >
          <ng-container >
            <td class="tdMail" id="" colspan="2">
              <div>{{ client.Client_Email }}</div>
              <div>{{ client.Client_Name }}
              {{ client.Client_Last_Name }}</div>
            </td>
          </ng-container>
          <ng-container *ngIf="!flag">
            <td id="" colspan="3">
              {{ client.Client_Email }}
            </td>
            <td colspan="3">
              {{ client.Client_Name }} {{ client.Client_Last_Name }}
            </td>
          </ng-container>
        </tr>
      </table>
    </div>
    <button
      (click)="confirmerCommande()"
      class="btn btn-outline-success btn-confirm"
    >
      Confirmer commande
    </button>
    <div class="modal" [ngClass]="{ visible: modalVisible }">
      <div class="modal-content">
        <p class="msg-valid">
          Êtes-vous sûr(e) de vouloir confirmer votre commande ?
        </p>
        <div class="button">
          <button class="btn-annuler" (click)="annuler()">Annuler</button>
          <button class="btn-confirmer" (click)="confirmer()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
</div>
