.card{
  min-width: 300px;
  min-height: 40vh;
  margin:3%;
  border: black solid 1px;
  margin: 20px 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav-bar{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img{
  margin: 7% 0%;
}

.btn-cart{
  max-width: 12%;
  max-height: 7vh;
  cursor: pointer;
  margin: 0 20%;
}


.select{
  color: #7a828a;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4% 8%;
}

.center-text{
  text-align: center;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product_image{
  max-width:100%;
  max-height:100%;
}

div img{
  width: 100px;
  margin: auto;
  display: block;
}

.box{
  width: 70%;
}
@media screen and (max-width: 1100px) {
  .box{
    width: 59%;
  }
}
.panier-box{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  top: 15%;
  min-width: 400px;
  max-height: 84vh;
}

.btn-confirm{
  margin-top: 10%;
}

.thead-light{
  background-color: #232b42;
  color: white;
  border: #232b42 groove 1px;
  border-radius: 5px;
  border-collapse: collapse;
}

#selectionnezClient{
  display: none;
}

#produit{
  width: 70%;
}

#total{
  text-align: center;
}

#selectClient{
  width: 100%;
}
td{
  color: #232b42;
  font-weight: bold;
}


.btnclose{
  color: rgb(161, 32, 32);
  background-color: #f2f2f2;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 0 ;
}

.thead-light th{
  color: white;
}

.table{
  display: block;
  overflow-y: auto;
  white-space: nowrap;
  height: 40vh;
  margin-top: 10%;
  border: #232b42 groove 1px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.table2{
  display: block;
  overflow-y: auto;
  white-space: nowrap;
  height: 15vh;
  margin-top: 10%;
  border: #232b42 groove 1px;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}


th{
  color: #232b42;
}

.panier{
  border-radius: 10px;
}

img{
  width: 120px;
  height: 180px;
}

.container{
  min-width: 100%;
}


.clientTd{
  border-bottom: none;
}

.btn-add-client{
  background-color: #198754;
  color: white;
  border: 1px solid #198754;
  border-radius: 6px;
  padding: 6px 8px;
}

.btn-add-client:hover{
  background-color: #0d6e3d;
  border: 1px solid #0d6e3d;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

}

.modal.visible {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 30%;
  justify-content: space-between;
}

button {
  margin: 0 10px;
}

.msg-valid{
  font-size: 24px;
  color: #232b42;
}

.btn-confirmer{
  background-color: #198754;
  color: white;
  border: 1px solid #198754;
  border-radius: 6px;
  padding: 6px 8px;
  width: 50%;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

.btn-confirmer:hover{
  background-color: #0d6e3d;
  border: 1px solid #0d6e3d;
  scale: 1.01;
}

.btn-annuler{
  background-color: #dc3545;
  color: white;
  border: 1px solid #dc3545;
  border-radius: 6px;
  padding: 6px 8px;
  width: 50%;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

.btn-annuler:hover{
  background-color: #a71d2a;
  border: 1px solid #a71d2a;
  scale: 1.01;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}



#listing_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.pagination-previous,
.pagination-next {
  margin: 0 10px;
  color: #232b42;
  cursor: pointer;
}

.pagination-previous.disabled,
.pagination-next.disabled {
  color: #999999;
  cursor: not-allowed;
}

.pagination-ellipsis {
  margin: 0 10px;
}

.pagination-page {
  margin: 0 5px;
  color: #232b42;
  cursor: pointer;
  border: 1px solid #232b42;
  border-radius: 3px;
  padding: 3px 6px;
}

.pagination-page.active {
  background-color: #232b42;
  color: #fff;
}

.contain-tr{
  width: 100%;
}

.liste-client{
  border: cornflowerblue solid 1px;
}

.clientTdSearch{
  padding: 20px 10px ;
}

.tdMail{
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border: 1px solid #232b42;
  border-right: none;
  max-width: 266px;
}

.tdMail:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}
.tdNom{
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border: 1px solid #232b42;
  border-left: none;
}
.tdEmail:hover{
  background-color: #f2f2f2;
}

.clientTdAdd{
margin-bottom: 50px;
vertical-align: middle
}

