.card{
  width: 18%;
  margin:3%;
  border: black solid 1px;
}

.center-text{
  text-align: center;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product_image{
  max-width:100%;
  max-height:100%;
}

div img{
  width: 100px;
  margin: auto;
  display: block;
}

.box{
  width: 80%;
}
.panier-box{
  width: 20%;
}

table{
  margin: auto;
}

.panier{
  margin: auto;
  border-radius: 10px;
}
