<div class="containeur">
  <div class="container-cards">
    <app-card-page
      (click)="goToVentes()"
      title="Vente"
      urlImage="assets/vente.png"
    ></app-card-page>
    <app-card-page
      (click)="goToProduct()"
      title="Gestion produit"
      urlImage="assets/bottle.png"
      *ngIf="roleId == '3' || roleId == '2'"
    ></app-card-page>
    <app-card-page
      title="Gestion du stock"
      urlImage="assets/stock.png"
      (click)="goToStock()"
    ></app-card-page>
    <app-card-page
      (click)="goToHisto()"
      title="Historique"
      urlImage="assets/history.png"
    ></app-card-page>
  </div>
  <div class="button">
    <button *ngIf="roleId == '3'" class="gestut" (click)="goToUser()">Gestion utilisateur</button>
    <button class="logout" (click)="logout()">Déconnexion</button>
  </div>
</div>
