<div class="containeur">
  <div class="vente">
    <app-card-page-vente
      (click)="goToVentes()"
      title="Vente"
      urlImage="assets/vente.png"
    ></app-card-page-vente>
  </div>
  <div class="container-cards">
    <app-card-page
      (click)="goToGestion()"
      title="Gestion"
      urlImage="assets/setting-3-svgrepo-com.svg"
      *ngIf="roleId == '3'"
    ></app-card-page>
    <app-card-page
      *ngIf="roleId == '2'"
      title="Gestion du stock"
      urlImage="assets/stock.png"
      (click)="goToStock()"
    ></app-card-page>
    <app-card-page
    (click)="goToHisto()"
    title="Historique"
    urlImage="assets/history.png"
  ></app-card-page>
    <app-card-page
      *ngIf="roleId == '3'"
      (click)="goToSetting()"
      title="Paramètre"
      urlImage="assets/setting.svg"
    ></app-card-page>
  </div>
</div>
