.form-add-stock {
  margin: 20px auto;
  width: 400px;
  padding: 20px;
  border: 2px solid #232b42;
  border-radius: 5px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  color: #232b42;
}

h4 {
  text-align: center;
}

form span {
  font-size: 18px;
  font-weight: bold;
}

form input[type="text"],
form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #eeeeee;
}

form input[type="text"]:focus,
form input[type="date"]:focus {
  outline: none;
  border: 2px solid #232b42;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #232b42;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2d3856;
}

form h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.containeur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
  background-color: #ffffff;
}
