/* Style pour le conteneur principal */


.containeur {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  height: 88vh;
  background-color: #f5f5f5;

}

h2{
  color: #232b42;
  font-size: 2.0em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-containeur{
  min-width: 60%;
  height: 74vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.433);
  border: 1px solid #232b42;
}

form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.contain-left-right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70%;
}

.left{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 45%;
}

.left div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 45%;
}

.right div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.blanc{
  width: 363px;
  height: 27.2px;
}


.button{
  width: 100%;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button button{
  min-width: 35%;
  min-height: 100%;
  background-color: #232b42;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.button button:hover{
  background-color: #34436e;

}

input{
  height: 30px;
  width: 60%;
  padding: 8px 16px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  color: #1e65a2;
}

label{
  color: #232b42;
  font-size: 1.2em;
  font-weight: 400;
}
