<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Contenu de la vente</h2>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>N°Produit</th>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saleProduct of saleProductList" (click)="getProductList()">
          <td></td>
          <td>{{ saleProduct.Id_Product }}</td>
          <td>{{ saleProduct.Product_Name}}</td>
          <td>{{ saleProduct.Quantity}}</td>
          <td>{{ saleProduct.Sale_Price }}€</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
