<div class="containeur">
  <div class="container-info">
    <table>
      <thead>
        <tr>
          <th colspan="2">Profil</th>
        </tr>
      </thead>
      <tr>
        <th>Nom</th>
        <td>{{ user?.User_First_Name }}</td>
      </tr>
      <tr>
        <th>Prénom</th>
        <td>{{ user?.User_Last_Name }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user?.User_Email_Address }}</td>
      </tr>
      <tr>
        <th>Date de naissance</th>
        <td>{{ user?.User_BirthDate }}</td>
      </tr>
      <tr>
        <th>Rôle</th>
        <td>{{ roleStr }}</td>
      </tr>
    </table>
  </div>
</div>
