header {
    display: flex;

    top: 0;
    color: white;
    background: #232B42;
    height: 12vh;
    justify-content: center;
}

#Logo_ARMETISS {
    position: absolute;
    align-self: center;
    width: 150px;
    margin-bottom: 0.2%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.containeur-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 0;
  height: 12vh;

}

.profile {
    width: 50px;
    cursor: pointer;
}


.logoutLogo{
  font-size: 50px;
  cursor: pointer;
  color: #ffffff47;
  transition: all 0.3s ease-in-out;
  margin-left: 25px;

}

.logoutLogo:hover{
  color: white;
}
