.card {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #232B42;
    width: 220px;
    height: 220px;
    border-radius: 5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 3%;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.678) 0px 25px 50px -12px;
  scale: 1.1;
}
.card img {
    width: 70%;
    padding: 5%;
    margin: 0%;
}

