.card {
    display: flex;
    color: white;
    background-color: #232B42;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.card img {
    width: 70%;
    padding: 5%;
    margin: 0%;
}