.card {
    display: flex;
    color: white;
    background-color: #232B42;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.678) 0px 25px 50px -12px;
}
.card img {
    width: 70%;
    padding: 5%;
    margin: 0%;
}
