<h4>Ajouter stock</h4>

<form class="form-add-stock">
    <span>Quantité</span>
    <br>
    <input
    #purchaseQuantity
    type="text"
    class="add-quantity"
    required="">
    <br>
    <span>Prix/article</span>
    <br>
    <input
    #price
    type="text"
    class="add-price"
    required="">
    <br>
    <span>Date d'achat</span>
    <br>
    <input
    #purchaseDate
    type="date"
    class="add-date"
    required="">
    <br>
    <span>Fournisseur</span>
    <br>
    <input
    #provider
    type="text"
    class="add-provider"
    required="">
    <br>
    <button
    (click)="addStock(purchaseQuantity.value, price.value, purchaseDate.value, provider.value)"
  >
    Ajouter stock
  </button>
</form>