<div class="container">
  <div class="table-wrapper" *ngIf="saleList?.length !== 0">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Historique des ventes</h2>
        </div>
      </div>
    </div>
    <table class="border table table-striped table-hover">
      <thead>
        <tr>
          <th class="right-top"></th>
          <th >N°Commande &nbsp; &nbsp; <i (click)="sort('Id_Sale')" class="pi pi-sort-alt"></i></th>
          <th >Client &nbsp; &nbsp; <i (click)="sort('Client_Name')" class="pi pi-sort-alt"></i></th>
          <th >Vendeur &nbsp; &nbsp; <i (click)="sort('User_Last_Name')" class="pi pi-sort-alt"></i></th>
          <th >Date &nbsp; &nbsp; <i (click)="sort('Sale_Date')" class="pi pi-sort-alt"></i></th>
          <th >Prix total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of saleList | paginate: {id: 'listing_pagination', itemsPerPage: 10, currentPage: page,totalItems: totalRecords}" (click)="goToDetailSale(sale)">
          <td></td>
          <td>{{ sale.Id_Sale }}</td>
          <td *ngIf="sale.Id_Client">{{ sale.Client_Name }} {{ sale.Client_Last_Name }} ({{ sale.Id_Client }})</td>
          <td *ngIf="!sale.Id_Client"></td>
          <td>{{ sale.User_Last_Name}} {{ sale.User_First_Name }} ({{ sale.Id_User }})</td>
          <td>{{ sale.Sale_Date }}</td>
          <td>{{ sale.Sale_Price }}€</td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls id="listing_pagination" [maxSize]=5 [directionLinks]=true [previousLabel]="'Précédent'" [nextLabel]="'Suivant'" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div class="center-text" *ngIf="saleList?.length === 0">
    <p>Il n'y a aucune ventes à afficher</p>
  </div>
</div>
