<div class="container">
  <div class="table-wrapper" *ngIf="saleList?.length !== 0">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Historique des ventes</h2>
        </div>
      </div>
    </div>
    <table class="border table table-striped table-hover">
      <thead>
        <tr>
          <th class="right-top"></th>
          <th>N°Commande</th>
          <th>Client</th>
          <th>Vendeur</th>
          <th>Date</th>
          <th>Prix total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of saleList" (click)="goToDetailSale(sale)">
          <td></td>
          <td>{{ sale.Id_Sale }}</td>
          <td>{{ sale.Client_Name }} {{ sale.Client_Name }} ({{ sale.Id_Client}})</td>
          <td>{{ sale.User_Last_Name}} {{ sale.User_First_Name }} ({{ sale.Id_User }})</td>
          <td>{{ sale.Sale_Date }}</td>
          <td>{{ sale.Sale_Price }}€</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="center-text" *ngIf="saleList?.length === 0">
    <p>Il n'y a aucune ventes à afficher</p>
  </div>
</div>
