<div class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Gestion client</h2>
        </div>
        <div class="col-sm-6">
          <button (click)="goToAddClient()" class="btn btn-success"
            ><i class="material-icons">&#xE147;</i>
            <span>Ajouter un utilisateur</span></button>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
          </th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>numéro téléphone</th>
          <th>Adresse</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of ClientList | paginate: {id: 'listing_pagination', itemsPerPage: 10, currentPage: page,totalItems: totalRecords}">
          <td>
          </td>
          <td>{{ client.Client_Last_Name }}</td>
          <td>{{ client.Client_Name }}</td>
          <td>{{ client.Client_Email }}</td>
          <td>{{ client.Client_NumTel}}</td>
          <td>{{ client.Client_Adresse}}</td>
          <td>
            <div class="button-wrapper">
              <div class="marginButton col-sm-6">
                <button (click)="goToEditClient(client.ID_Client)" class="btn btn-sm btn-primary"><i class="material-icons" title="Modifier">&#xE254;</i></button>
              </div>
              <div class="col-sm-6">
                <button (click)="openConfirmationDeleteModal(client.ID_Client)" class="btn btn-sm btn-danger"><i class="material-icons" title="Supprimer">&#xE872;</i></button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <pagination-controls id="listing_pagination" [maxSize]=5 [directionLinks]=true [previousLabel]="'Précédent'" [nextLabel]="'Suivant'" (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
